---
import Layout from "../../../layouts/Layout.astro";
import recommendedProducts from "./data/recommended-products.json";
import axios from 'axios';

// Function to convert JPY to KRW
const convertToKRW = async (priceInJPY: number) => {
    const exchangeRate = (await axios.get("https://open.er-api.com/v6/latest/JPY")).data.rates.KRW; // 1 JPY = 10 KRW
    return Math.floor(priceInJPY * exchangeRate);
};
---

<Layout title="Recommended Products" description="A list of recommended products">
    <div class="flex justify-around mb-5">
        <a href="/recommended-products/seven-eleven" class="transition-transform transform hover:scale-105">
            <img src="/cstore/1.png" alt="Seven Eleven" class="h-12">
        </a>
        <a href="/recommended-products/lawson" class="transition-transform transform hover:scale-105">
            <img src="/cstore/3.svg" alt="Lawson" class="h-12">
        </a>
        <a href="/recommended-products/family-mart" class="transition-transform transform hover:scale-105">
            <img src="/cstore/2.png" alt="Family Mart" class="h-12">
        </a>
    </div>
    <hr class="my-4 border-t border-gray-300" />
    <h1 class="font-bold text-2xl mb-4 text-center">추천 제품</h1>
    <hr class="my-4 border-t border-gray-300" />
    <ul class="list-disc pl-5">
        {recommendedProducts.map((product, index) => (
            <>
                <li class="mb-4 p-4 bg-white shadow-lg rounded-lg transition-shadow hover:shadow-xl">
                    <img src={product.image} alt={product.name} class="w-48 h-48 object-cover mb-2 rounded-lg">
                    <h2 class="text-xl font-semibold mb-2">{product.name}</h2>
                    <p class="text-gray-700 mb-2">{product.description}</p>
                    <p class="text-gray-700">¥ {product.price} | ₩ {convertToKRW(Number(product.price))}</p>
                </li>
                {index < recommendedProducts.length - 1 && <hr class="my-4 border-t border-gray-300" />}
            </>
        ))}
    </ul>
</Layout>
